/* ヘッダー */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 65px;
  background: url(../img/header.jpg) top left no-repeat;
  background-size: cover;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
  }
  &__logo {
    color: #fff;
    font-size: 24px;
    font-family: "Hind", sans-serif;
  }
  &__user {
    display: flex;
    align-items: center;
    font-size: 14px;
    &-name {
      display: inline-flex;
      align-items: center;
      color: #fff;
      margin-right: 10px;
      white-space: nowrap;
      img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
      }
    }
  }
  &__btn {
    height: initial !important;
    line-height: initial !important;
    color: #fff !important;
    background: transparent !important;
    border: 1px solid #fff;
    padding: 2px 15px 3px 15px;
  }
}

/* サイドバー */
.side-nav {
  position: fixed;
  top: 65px;
  left: 0;
  background: #f0f0f0;
  width: 200px;
  height: 100%;
  &__inner {
    padding: 15px;
  }
  &__item {
    margin-bottom: 20px;
    &-ttl {
      display: flex;
      align-items: center;
      &.active {
        svg {
          stroke: $accent-color;
        }
        p {
          color: $accent-color;
          white-space: nowrap;
        }
      }
    }
    svg {
      width: 26px;
      height: 26px;
      stroke: #000;
    }
    p {
      font-size: 12px;
      color: #333;
      margin-left: 10px;
    }
    ul {
      padding-top: 5px;
      padding-left: 40px;
      li {
        font-size: 12px;
        &::before {
          content: "→";
          margin-right: 5px;
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
        &.active {
          color: $accent-color;
          &::before {
            color: $accent-color;
          }
        }
      }
    }
    &:last-child {
      cursor: pointer;
      .side-nav__item-ttl {
        .open {
          display: none;
        }
      }
      &:hover {
        .side-nav__item-ttl {
          .open,
          .close {
            stroke: $accent-color;
          }
          p {
            color: $accent-color;
          }
        }
      }
    }
  }
}

/* パンくずナビ */
.breadcrumb {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  ol {
    display: flex;
    align-items: center;
    li {
      &:not(:last-child) {
        margin-right: 2px;
        &::after {
          content: "＞";
          margin-left: 3px;
        }
      }
      img {
        width: 15px;
        height: 13px;
        margin-right: 5px;
      }
      a {
        color: $accent-color;
      }
    }
  }
}

/* フッター */
.footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  border-top: 1px solid #ccc;
  background: #fafafa;
  p {
    font-size: 14px;
    color: #999;
  }
}

/* ボタン */
.btn {
  display: inline-block;
  width: 220px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #fff;
  background: $main-color;
  border-radius: 5px;
  text-align: center;
  &--sm {
    width: 100%;
    max-width: 110px;
    height: 25px;
    line-height: 23px;
    font-size: 12px;
  }
  &--lightgray {
    width: 160px;
    color: #999;
    background: #ededed;
  }
  &--gray {
    background: #999;
  }
}
.content__buttons {
  position: relative;
  display: flex;
  justify-content: right;
  margin-top: 15px;
  .btn {
    width: 210px;
    &:last-child {
      margin-left: 10px;
    }
  }
}

/* 見出し */
.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  &-ttl {
    font-size: 18px;
  }
}
.section__header {
  padding: 10px;
  border-bottom: 1px solid $line-color;
  &-ttl {
    font-size: 16px;
  }
  .result__pagination {
    margin-top: initial;
  }
}

/* セレクトボックス*/
.selectbox--lg {
  position: relative;
  height: 50px;
  flex: 1;
  &::after {
    display: block;
    position: absolute;
    right: 10px;
    top: 3px;
    content: "\e5cf";
    font-family: "Material Icons";
    font-size: 36px;
    color: #999;
    pointer-events: none;
  }
  select {
    width: 100%;
    height: 100%;
    padding-left: 20px;
  }
}

/* 絞り込み検索 */
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    li {
      display: block;
      display: flex;
      align-items: center;
      justify-content: left;
      width: 250px;
      height: 35px;
      font-size: 12px;
      border: 1px solid $line-color;
      border-radius: 5px;
      margin-bottom: 2.5px;
      margin-top: 2.5px;
      &:nth-child(odd) {
        margin-right: 10px;
      }
      label {
        white-space: nowrap;
      }
      input {
        flex: 1;
        overflow: auto;
        word-wrap: break-word;
        padding: 0 5px;
      }
      .selectbox--lg {
        select {
          padding-left: 5px;
        }
        &::after {
          right: -3px;
        }
      }
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    button {
      white-space: nowrap;
      margin: 2.5px 7px;
    }
  }
}
.result {
  &__pagination {
    text-align: center;
    margin-top: 10px;
    ul {
      display: inline-flex;
      li {
        display: block;
        width: 35px;
        height: 35px;
        font-size: 14px;
        line-height: 35px;
        text-align: center;
        background: #ededed;
        &:not(:last-child) {
          margin-right: 5px;
        }
        &:nth-child(n + 9):nth-child(-n + 12) {
          display: none;
        }
        &:nth-child(8) {
          position: relative;
          margin-right: 33px;
          &::after {
            position: absolute;
            top: 6px;
            right: -28px;
            content: "･･･";
          }
        }
        &.active {
          color: #fff;
          background: $main-color;
        }
        a {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
    &-prev,
    &-next {
      width: 60px !important;
      border: 1px solid $line-color;
      span {
        font-size: 36px;
        line-height: 35px;
      }
    }
  }
}
.table {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
  table-layout: fixed;
  thead tr {
    height: 35px;
  }
  tbody tr {
    height: 40px;
    &:nth-child(odd) {
      background: #fafafa;
    }
  }
  th,
  td {
    border: 1px solid $line-color;
    padding: 0 12px;
    vertical-align: middle;
    width: auto;
  }
  th {
    color: #fff;
    font-weight: 400;
    background: #666;
    text-align: center;
    .indicator{
      display: inline-block;
      margin: 0 0 0 5px;
      width: 15px;
      height: 15px;
      position: relative;
      vertical-align: middle;
      &::before{
        content: "";
        height: 5px;
        width: 5px;
        position: absolute;
        border: 6px solid transparent;
        border-bottom-color: #fff;
        top: -7px;
        left: 0;
        cursor: pointer;
      }
      &.is_up{
        &::before{
          border-bottom-color: $main-color;
        }
      }
      &::after{
        content: "";
        height: 5px;
        width: 5px;
        position: absolute;
        border: 6px solid transparent;
        border-top-color: #fff;
        top: 7px;
        left: 0;
        cursor: pointer;
      }
      &.is_down{
        &::after{
          border-top-color: $main-color;
        }
      }
    }
  }
  td {
    word-wrap: break-word;
    button img {
      width: 23px;
      height: 23px;
    }
    input {
      width: 100%;
    }
    button{
      max-width: 50px;
      margin-left: 5px;
    }
  }
  &__header,
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    p {
      font-size: 12px;
    }
    .btn {
      width: 150px;
    }
  }
  &__header {
    margin-bottom: 5px;
    .result__pagination {
      margin-top: initial;
    }
  }
  &__footer {
    margin-top: 5px;
    .result__pagination {
      margin-top: initial;
    }
  }
  &__pagination {
    display: flex;
    font-size: 12px;
    p {
      margin-right: 1rem;
    }
    a {
      color: $accent-color;
    }
  }
  &__buttons {
    border-bottom: 1px solid $line-color;
    margin-top: 10px;
    padding-bottom: 15px;
    .btn {
      width: 150px;
    }
    .btn:first-child {
      margin-right: 10px;
    }
    .result__pagination {
      margin-top: initial;
    }
  }
  &__select {
    position: relative;
    display: inline-block;
    max-width: 87px;
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    height: 25px;
    background: #fff;
    &::after {
      display: block;
      position: absolute;
      right: 0;
      top: -2px;
      content: "\e5cf";
      font-family: "Material Icons";
      font-size: 24px;
      color: #999;
      pointer-events: none;
    }
    &::before {
      position: absolute;
      left: -20px;
      top: -4px;
      content: "\e5df";
      font-family: "Material Icons";
      font-size: 24px;
      line-height: 30px;
      color: #999;
    }
    select {
      width: 100%;
      height: 100%;
      line-height: 23px;
      padding-right: 15px;
      text-align: center;
    }
  }

  &--tight {
    th,
    td {
      font-size: 12px;
      padding: 0 7px;
    }
    .btn--sm {
      font-size: 12px;
    }
  }
  &--2col {
    tbody tr {
      height: 35px;
    }
    th,
    td {
      padding: 0 15px;
    }
    th {
      width: 200px;
      text-align: left;
      @include mq(pc) {
        width: 150px;
      }
    }
    td {
      width: 100%;
      min-width: 350px;
    }
  }
  &--lg {
    td {
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      input,
      .selectbox--lg {
        height: 30px;
        border: 1px solid $line-color;
        border-radius: 3px;
        background: #fff;
      }
      input {
        max-width: 360px;
        padding-left: 5px;
        padding-right: 5px;
      }
      .selectbox--lg {
        select {
          padding-left: 15px;
        }
        &::after {
          top: -7px;
        }
      }
      span {
        margin-left: 20px;
      }
      .password-icon{
        max-width: 50px;
        color: #fff;
      }
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  li {
    height: 60px;
    border: 1px solid $line-color;
    h4,
    p {
      height: 50%;
      padding: 5px 10px;
    }
    h4 {
      font-weight: 700;
      background: #fafafa;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li:not(:last-child) {
      margin-right: 20px;
    }
    &--lg {
      li {
        width: 50%;
      }
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.list02 {
  display: flex;
  justify-content: space-between;
  li {
    display: flex;
    flex-direction: column;
    label {
      font-size: 12px;
      margin-bottom: 5px;
    }
    input,
    .selectbox--lg {
      height: 35px;
      overflow: auto;
      word-wrap: break-word;
      border: 1px solid $line-color;
      border-radius: 3px;
    }
    .selectbox--lg {
      overflow: hidden;
      &::after {
        top: -3px;
      }
    }
    input {
      padding: 0 20px 0 8px;
    }
    &:first-child {
      width: 200px;
    }
    &:nth-child(2) {
      width: 310px;
    }
    &:last-child {
      flex: 1;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

/* モーダルウィンドウ */
#modal {
  display: none;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &_bg {
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.6);
  }
  &_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1170px;
    height: 80%;
    background: #fff;
    border-radius: 5px;
    overflow-y: auto;
    overflow-y: scroll;
  }
}
.error {
  #modal_content {
    width: 400px;
    height: auto;
    border: 1px solid $danger-color;
    border-radius: 0;
    background: #fae5e5;
    overflow: hidden;
  }
  &__header {
    color: #fff;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: $danger-color;
  }
  &__body {
    text-align: center;
    padding: 15px;
    p {
      color: $danger-color;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}

.confirm {
  #modal_content {
    width: 400px;
    height: auto;
    border: 1px solid $main-color;
    border-radius: 0;
    overflow: hidden;
  }
  &__header {
    color: #fff;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: $main-color;
  }
  &__body {
    text-align: center;
    padding: 15px;
    p {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}
