$main-color: #FF7715;
$sub-color: #FFBB00;
$accent-color: #0099CC;
$danger-color: #CC0000;
$line-color: #DDD;

/* 共通設定 */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #333;
  position: relative;
}

input, select, textarea:focus {
  outline: none;
  font-size: 12px;
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 
input[type="number"] { 
  -moz-appearance:textfield; 
} 

