@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* 共通設定 */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #333;
  position: relative;
}

input, select, textarea:focus {
  outline: none;
  font-size: 12px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.main {
  margin-top: 65px;
  overflow: hidden;
}
.main .content {
  background: #fafafa;
}
.main--1col {
  background: #fafafa;
}
.main--1col .content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px 70px 20px;
}
.main--1col .content__inner {
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #DDD;
  -webkit-box-shadow: 0 2px 0 #DDD;
          box-shadow: 0 2px 0 #DDD;
  padding: 60px;
}
.main--2col .content {
  width: calc(100% - 200px);
  padding: 0 15px 70px 15px;
  margin-left: 200px;
}
.main--2col .content__inner {
  padding: 10px;
}
.main--2col .content section {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #DDD;
  -webkit-box-shadow: 0 2px 0 #DDD;
          box-shadow: 0 2px 0 #DDD;
}
.main--2col .content section:not(:last-child) {
  margin-bottom: 15px;
}
.main.active .side-nav {
  width: 60px;
}
.main.active .side-nav__item-ttl p {
  display: none;
}
.main.active .side-nav__item ul {
  display: none;
}
.main.active .side-nav__item:last-child .side-nav__item-ttl .close {
  display: none;
}
.main.active .side-nav__item:last-child .side-nav__item-ttl .open {
  display: block;
}
.main.active .content {
  width: calc(100% - 60px);
  margin-left: 60px;
}

/* ヘッダー */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 65px;
  background: url(../img/header.jpg) top left no-repeat;
  background-size: cover;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 50px;
}
.header__logo {
  color: #fff;
  font-size: 24px;
  font-family: "Hind", sans-serif;
}
.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}
.header__user-name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-right: 10px;
  white-space: nowrap;
}
.header__user-name img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.header__btn {
  color: #fff !important;
  background: transparent !important;
  border: 1px solid #fff;
  padding: 0 15px;
}

/* サイドバー */
.side-nav {
  position: fixed;
  top: 65px;
  left: 0;
  background: #f0f0f0;
  width: 200px;
  height: 100%;
}
.side-nav__inner {
  padding: 15px;
}
.side-nav__item {
  margin-bottom: 20px;
}
.side-nav__item-ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.side-nav__item-ttl.active svg {
  stroke: #0099CC;
}
.side-nav__item-ttl.active p {
  color: #0099CC;
  white-space: nowrap;
}
.side-nav__item svg {
  width: 26px;
  height: 26px;
  stroke: #000;
}
.side-nav__item p {
  font-size: 12px;
  color: #333;
  margin-left: 10px;
}
.side-nav__item ul {
  padding-top: 5px;
  padding-left: 40px;
}
.side-nav__item ul li {
  font-size: 12px;
}
.side-nav__item ul li::before {
  content: "→";
  margin-right: 5px;
}
.side-nav__item ul li:not(:last-child) {
  margin-bottom: 5px;
}
.side-nav__item ul li.active {
  color: #0099CC;
}
.side-nav__item ul li.active::before {
  color: #0099CC;
}
.side-nav__item:last-child {
  cursor: pointer;
}
.side-nav__item:last-child .side-nav__item-ttl .open {
  display: none;
}
.side-nav__item:last-child:hover .side-nav__item-ttl .open,
.side-nav__item:last-child:hover .side-nav__item-ttl .close {
  stroke: #0099CC;
}
.side-nav__item:last-child:hover .side-nav__item-ttl p {
  color: #0099CC;
}

/* パンくずナビ */
.breadcrumb {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.breadcrumb ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb ol li:not(:last-child) {
  margin-right: 2px;
}
.breadcrumb ol li:not(:last-child)::after {
  content: "＞";
  margin-left: 3px;
}
.breadcrumb ol li img {
  width: 15px;
  height: 13px;
  margin-right: 5px;
}
.breadcrumb ol li a {
  color: #0099CC;
}

/* フッター */
.footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  border-top: 1px solid #ccc;
  background: #fafafa;
}
.footer p {
  font-size: 14px;
  color: #999;
}

/* ボタン */
.btn {
  display: inline-block;
  width: 220px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #fff;
  background: #FF7715;
  border-radius: 5px;
  text-align: center;
}
.btn--sm {
  width: 100%;
  max-width: 110px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
}
.btn--lightgray {
  width: 160px;
  color: #999;
  background: #ededed;
}
.btn--gray {
  background: #999;
}

.content__buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-top: 15px;
}
.content__buttons .btn {
  width: 210px;
}
.content__buttons .btn:last-child {
  margin-left: 10px;
}

/* 見出し */
.content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.content__header-ttl {
  font-size: 18px;
}

.section__header {
  padding: 10px;
  border-bottom: 1px solid #DDD;
}
.section__header-ttl {
  font-size: 16px;
}

/* セレクトボックス*/
.selectbox--lg {
  position: relative;
  height: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.selectbox--lg::after {
  display: block;
  position: absolute;
  right: 10px;
  top: 3px;
  content: "";
  font-family: "Material Icons";
  font-size: 36px;
  color: #999;
  pointer-events: none;
}
.selectbox--lg select {
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

/* 絞り込み検索 */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 30px;
}
.filter__list li {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 250px;
  height: 35px;
  font-size: 12px;
  border: 1px solid #DDD;
  border-radius: 5px;
  margin-bottom: 2.5px;
  margin-top: 2.5px;
}
.filter__list li:nth-child(odd) {
  margin-right: 10px;
}
.filter__list li label {
  white-space: nowrap;
}
.filter__list li input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  word-wrap: break-word;
  padding: 0 5px;
}
.filter__list li .selectbox--lg select {
  padding-left: 5px;
}
.filter__list li .selectbox--lg::after {
  right: -3px;
}
.filter__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.filter__buttons button {
  white-space: nowrap;
  margin: 2.5px 7px;
}

.result__pagination {
  text-align: center;
  margin-top: 10px;
}
.result__pagination ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.result__pagination ul li {
  display: block;
  width: 35px;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  background: #ededed;
}
.result__pagination ul li:not(:last-child) {
  margin-right: 5px;
}
.result__pagination ul li:nth-child(n+9):nth-child(-n+12) {
  display: none;
}
.result__pagination ul li:nth-child(8) {
  position: relative;
  margin-right: 33px;
}
.result__pagination ul li:nth-child(8)::after {
  position: absolute;
  top: 6px;
  right: -28px;
  content: "･･･";
}
.result__pagination ul li.active {
  color: #fff;
  background: #FF7715;
}
.result__pagination ul li a {
  display: block;
  height: 100%;
  width: 100%;
}
.result__pagination-prev, .result__pagination-next {
  width: 60px !important;
  border: 1px solid #DDD;
}
.result__pagination-prev span, .result__pagination-next span {
  font-size: 36px;
  line-height: 35px;
}

.table {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
  table-layout: fixed;
}
.table thead tr {
  height: 35px;
}
.table tbody tr {
  height: 40px;
}
.table tbody tr:nth-child(odd) {
  background: #fafafa;
}
.table th,
.table td {
  border: 1px solid #DDD;
  padding: 0 12px;
  vertical-align: middle;
  width: auto;
}
.table th {
  color: #fff;
  font-weight: 400;
  background: #666;
  text-align: center;
}
.table td {
  word-wrap: break-word;
}
.table td button img {
  width: 23px;
  height: 23px;
}
.table td input {
  width: 100%;
}
.table__header, .table__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.table__header p, .table__footer p {
  font-size: 12px;
}
.table__header .btn, .table__footer .btn {
  width: 150px;
}
.table__header {
  margin-bottom: 5px;
}
.table__footer {
  margin-top: 5px;
}
.table__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}
.table__pagination p {
  margin-right: 1rem;
}
.table__pagination a {
  color: #0099CC;
}
.table__buttons {
  border-bottom: 1px solid #DDD;
  margin-top: 10px;
  padding-bottom: 15px;
}
.table__buttons .btn {
  width: 150px;
}
.table__buttons .btn:first-child {
  margin-right: 10px;
}
.table__select {
  position: relative;
  display: inline-block;
  max-width: 87px;
  width: 100%;
  border: 1px solid #999;
  border-radius: 5px;
  height: 25px;
  background: #fff;
}
.table__select::after {
  display: block;
  position: absolute;
  right: 0;
  top: -2px;
  content: "";
  font-family: "Material Icons";
  font-size: 24px;
  color: #999;
  pointer-events: none;
}
.table__select::before {
  position: absolute;
  left: -20px;
  top: -2px;
  content: "";
  font-family: "Material Icons";
  font-size: 24px;
  line-height: 30px;
  color: #999;
}
.table__select select {
  width: 100%;
  height: 100%;
  line-height: 25px;
  padding-right: 15px;
  text-align: center;
}
.table--tight th,
.table--tight td {
  font-size: 12px;
  padding: 0 7px;
}
.table--tight .btn--sm {
  font-size: 12px;
}
.table--2col tbody tr {
  height: 35px;
}
.table--2col th,
.table--2col td {
  padding: 0 15px;
}
.table--2col th {
  width: 200px;
  text-align: left;
}
@media screen and (max-width: 1279px) {
  .table--2col th {
    width: 150px;
  }
}
.table--2col td {
  width: 100%;
  min-width: 350px;
}
.table--lg td {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.table--lg td input,
.table--lg td .selectbox--lg {
  height: 30px;
  border: 1px solid #DDD;
  border-radius: 3px;
  background: #fff;
}
.table--lg td input {
  max-width: 360px;
  padding-left: 5px;
  padding-right: 5px;
}
.table--lg td .selectbox--lg select {
  padding-left: 15px;
}
.table--lg td .selectbox--lg::after {
  top: -7px;
}
.table--lg td span {
  margin-left: 20px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
}
.list li {
  max-width: 350px;
  width: 33%;
  height: 60px;
  border: 1px solid #DDD;
}
.list li h4,
.list li p {
  height: 50%;
  padding: 5px 10px;
}
.list li h4 {
  font-weight: 700;
  background: #fafafa;
}
.list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list__row li:not(:last-child) {
  margin-right: 20px;
}
.list__row--lg li {
  max-width: 540px;
  width: 50%;
}
.list__row:not(:last-child) {
  margin-bottom: 10px;
}

.list02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list02 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.list02 li label {
  font-size: 12px;
  margin-bottom: 5px;
}
.list02 li input,
.list02 li .selectbox--lg {
  height: 35px;
  overflow: auto;
  word-wrap: break-word;
  border: 1px solid #DDD;
  border-radius: 3px;
}
.list02 li .selectbox--lg {
  overflow: hidden;
}
.list02 li .selectbox--lg::after {
  top: -3px;
}
.list02 li input {
  padding: 0 20px;
}
.list02 li:first-child {
  width: 200px;
}
.list02 li:nth-child(2) {
  width: 310px;
}
.list02 li:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.list02 li:not(:last-child) {
  margin-right: 30px;
}

/* モーダルウィンドウ */
#modal {
  display: none;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#modal_bg {
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.6);
}
#modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1170px;
  height: 80%;
  background: #fff;
  border-radius: 5px;
  overflow-y: auto;
  overflow-y: scroll;
}

.error #modal_content {
  width: 400px;
  height: auto;
  border: 1px solid #CC0000;
  border-radius: 0;
  background: #fae5e5;
  overflow: hidden;
}
.error__header {
  color: #fff;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #CC0000;
}
.error__body {
  text-align: center;
  padding: 15px;
}
.error__body p {
  color: #CC0000;
  font-size: 14px;
  margin-bottom: 10px;
}

.login .content__inner {
  max-width: 775px;
  text-align: center;
  margin: 70px auto 0 auto;
}
.login__head {
  font-size: 24px;
  font-family: "Hind", sans-serif;
  color: #FFBB00;
  margin-bottom: 30px;
}
.login__message {
  margin-bottom: 30px;
}
.login__form {
  margin: 0 auto 35px auto;
  width: 360px;
}
.login__form li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}
.login__form li:first-child {
  margin-bottom: 20px;
}
.login__form li figure {
  width: 50px;
  text-align: center;
}
.login__form li figure img {
  width: 23px;
  height: 100%;
}
.login__form li input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  text-align: left;
  overflow: auto;
  word-wrap: break-word;
  border-left: 1px solid #dfdfdf;
  padding: 0 20px;
}
.login__btn {
  width: 230px;
  background: #FFBB00;
}

.login_error .login__message {
  color: #CC0000;
}

.top-menu .content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.top-menu__column {
  width: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.top-menu__left {
  margin-right: 55px;
}
.top-menu__left a:first-child {
  margin-bottom: 10px;
}
.top-menu__left a:last-child {
  margin-top: 10px;
}
.top-menu__right {
  margin-left: 55px;
}
.top-menu__right .top-menu__item {
  border-radius: 3px 3px 0 0;
}
.top-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 175px;
  font-size: 22px;
  border: 1px solid #DDD;
  border-radius: 3px;
  background: #fff;
}
.top-menu__item-inner {
  text-align: center;
}
.top-menu__item-inner img {
  margin-bottom: 20px;
}
.top-menu__list {
  width: 100%;
  background: #fff;
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-radius: 0 0 3px 3px;
}
.top-menu__list li a {
  display: block;
  height: 48px;
  color: #0099CC;
  line-height: 48px;
  padding: 0 20px;
}
.top-menu__list li:not(:last-child) {
  border-bottom: 1px solid #DDD;
}

.orders__result .table th:first-child,
.orders__result .table td:first-child {
  max-width: 135px;
}
.orders__result .table th:nth-child(5),
.orders__result .table td:nth-child(5) {
  width: 80px;
}
.orders__result .table th:nth-child(6),
.orders__result .table td:nth-child(6) {
  width: 110px;
}
.orders__result .table th:last-child,
.orders__result .table td:last-child {
  width: 80px;
}
.orders__result .table td:nth-child(5), .orders__result .table td:nth-child(6), .orders__result .table td:last-child {
  text-align: center;
  margin: 0 auto;
}
.orders__result .table td:nth-child(6) {
  padding-right: 2px;
}
.orders__result .table td:nth-child(3) {
  color: #0099CC;
  text-decoration: underline;
}
.orders__result .table td .btn--sm {
  width: 100%;
  max-width: 50px;
}

.order-details__basic .table__select {
  margin-left: 35px;
  margin-right: 20px;
}
.order-details__basic .table .btn {
  width: 110px;
}
.order-details__products .table th:first-child,
.order-details__products .table td:first-child {
  max-width: 135px;
}
.order-details__products .table th:nth-child(2),
.order-details__products .table td:nth-child(2) {
  max-width: 110px;
}
.order-details__products .table th:nth-child(4),
.order-details__products .table td:nth-child(4) {
  max-width: 65px;
}
.order-details__products .table th:nth-child(6),
.order-details__products .table td:nth-child(6) {
  max-width: 125px;
}
.order-details__products .table th:nth-child(8),
.order-details__products .table td:nth-child(8) {
  max-width: 105px;
}
.order-details__products .table th:nth-child(7), .order-details__products .table th:nth-child(9),
.order-details__products .table td:nth-child(7),
.order-details__products .table td:nth-child(9) {
  width: 80px;
}
.order-details__products .table th:last-child,
.order-details__products .table td:last-child {
  width: 80px;
}
.order-details__products .table td:nth-child(8), .order-details__products .table td:nth-child(9), .order-details__products .table td:nth-child(10), .order-details__products .table td:last-child {
  text-align: center;
}
.order-details__more .content__inner {
  padding: 35px;
}
.order-details__more section {
  max-width: 1170px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #DDD;
}
.order-details__more section:not(:last-child) {
  margin-bottom: 30px;
}

.products .filter__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 640px;
}
.products .filter__list li:nth-child(even) {
  margin-right: 10px;
}
.products__result .table th:first-child,
.products__result .table td:first-child {
  max-width: 135px;
}
.products__result .table th:nth-child(2),
.products__result .table td:nth-child(2) {
  max-width: 130px;
}
.products__result .table th:nth-child(4),
.products__result .table td:nth-child(4) {
  width: 120px;
}
.products__result .table th:nth-child(5),
.products__result .table td:nth-child(5) {
  width: 120px;
}
.products__result .table th:nth-child(6), .products__result .table th:last-child,
.products__result .table td:nth-child(6),
.products__result .table td:last-child {
  width: 130px;
}
.products__result .table td:not(:first-child) {
  text-align: center;
}
.products__result .table td:nth-child(5) {
  padding-right: 2px;
}
@media screen and (max-width: 1279px) {
  .products__result .table td:nth-child(6), .products__result .table td:last-child {
    padding: 0 7px;
  }
}

.product_add__price .table th:first-child {
  width: 200px;
}
.product_add__official .table th,
.product_add__official .table td {
  padding: 0 7px;
}
.product_add__official .table th:first-child,
.product_add__official .table td:first-child {
  max-width: 150px;
}
.product_add__official .table th:nth-child(5),
.product_add__official .table td:nth-child(5) {
  width: 60px;
}
.product_add__official .table th:nth-child(6),
.product_add__official .table td:nth-child(6) {
  width: 350px;
}
.product_add__official .table th:last-child,
.product_add__official .table td:last-child {
  width: 45px;
}
.product_add__official .table td input[type=checkbox] {
  width: 23px;
  height: 23px;
  border: 1px solid #DDD;
  border-radius: 3px;
}
.product_add__official .table td:nth-child(5), .product_add__official .table td:last-child {
  text-align: center;
}

.pair-parts__product .table th,
.pair-parts__product .table td {
  padding: 0 20px;
}
.pair-parts__product .table th {
  width: 160px;
  color: #333;
  background: #fafafa;
}
@media screen and (max-width: 1279px) {
  .pair-parts__product .table th {
    width: 100px;
  }
}
.pair-parts__product .table td {
  background: #fff;
}
.pair-parts__parts .filter {
  margin-bottom: 25px;
}
.pair-parts__parts .filter__list {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pair-parts__parts .filter__list li {
  width: 180px;
  padding: 0;
}
.pair-parts__parts .filter__list li:nth-child(even) {
  margin-right: 10px;
}
.pair-parts__parts .filter__list li input {
  padding: 0 12px;
}
.pair-parts__result .table th:first-child,
.pair-parts__result .table td:first-child {
  max-width: 160px;
}
.pair-parts__result .table th:nth-child(4),
.pair-parts__result .table td:nth-child(4) {
  width: 250px;
}
.pair-parts__result .table th:last-child,
.pair-parts__result .table td:last-child {
  width: 130px;
}
.pair-parts__result .table td:last-child {
  text-align: center;
}

.pair-vehicle__product .list .list__row:last-child li {
  max-width: initial;
  width: 100%;
}
.pair-vehicle__vehicle .table th,
.pair-vehicle__vehicle .table td {
  padding: 0 7px;
}
.pair-vehicle__vehicle .table th:first-child,
.pair-vehicle__vehicle .table td:first-child {
  max-width: 175px;
}
.pair-vehicle__vehicle .table th:nth-child(3), .pair-vehicle__vehicle .table th:nth-child(4),
.pair-vehicle__vehicle .table td:nth-child(3),
.pair-vehicle__vehicle .table td:nth-child(4) {
  width: 120px;
}
.pair-vehicle__vehicle .table th:nth-child(5), .pair-vehicle__vehicle .table th:nth-child(6),
.pair-vehicle__vehicle .table td:nth-child(5),
.pair-vehicle__vehicle .table td:nth-child(6) {
  width: 80px;
}
.pair-vehicle__vehicle .table th:nth-child(7),
.pair-vehicle__vehicle .table td:nth-child(7) {
  width: 350px;
}
.pair-vehicle__vehicle .table th:last-child,
.pair-vehicle__vehicle .table td:last-child {
  width: 45px;
}
.pair-vehicle__vehicle .table td:last-child {
  text-align: center;
}

.news__txt {
  min-height: 155px;
}

.news_edit__textbox {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  border: 1px solid #DDD !important;
  border-radius: 3px;
}
.news_edit__message {
  margin-top: 10px;
  color: #CC0000;
}

.agency__result .table th,
.agency__result .table td {
  padding: 0 5px;
}
.agency__result .table th:first-child,
.agency__result .table td:first-child {
  width: 70px;
}
.agency__result .table th:nth-child(2),
.agency__result .table td:nth-child(2) {
  width: 80px;
}
.agency__result .table th:nth-child(3),
.agency__result .table td:nth-child(3) {
  width: 220px;
}
.agency__result .table th:nth-child(5), .agency__result .table th:nth-child(6),
.agency__result .table td:nth-child(5),
.agency__result .table td:nth-child(6) {
  width: 95px;
}
.agency__result .table th:nth-child(7), .agency__result .table th:last-child,
.agency__result .table td:nth-child(7),
.agency__result .table td:last-child {
  width: 50px;
}
.agency__result .table td:nth-child(7), .agency__result .table td:nth-child(8), .agency__result .table td:last-child {
  text-align: center;
}
.agency__result .table td .btn--sm {
  width: 100%;
  max-width: 50px;
}
.agency__result .table__header {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.agency_add__basic .table tr:first-child td input,
.agency_add__basic .table tr:first-child td .selectbox--lg, .agency_add__basic .table tr:nth-child(3) td input,
.agency_add__basic .table tr:nth-child(3) td .selectbox--lg, .agency_add__basic .table tr:nth-child(6) td input,
.agency_add__basic .table tr:nth-child(6) td .selectbox--lg, .agency_add__basic .table tr:nth-child(8) td input,
.agency_add__basic .table tr:nth-child(8) td .selectbox--lg {
  width: 160px;
}
.agency_add__basic .table tr:nth-child(4) td input,
.agency_add__basic .table tr:nth-child(4) td .selectbox--lg, .agency_add__basic .table tr:nth-child(5) td input,
.agency_add__basic .table tr:nth-child(5) td .selectbox--lg {
  width: 480px;
}
.agency_add__byparts .table td .selectbox--lg {
  width: 280px;
}

.password .table--2col th {
  width: 200px;
}
.password .content__buttons {
  border-top: 1px solid #DDD !important;
  padding-top: 15px;
}

.price-category .table th:first-child {
  width: 130px;
}
.price-category .table th:last-child {
  width: 70px;
}
.price-category .table td:first-child {
  text-align: right;
}
.price-category .table td:last-child {
  text-align: center;
}

.price-category_edit .table th:first-child {
  width: 130px;
}
.price-category_edit .table td input {
  width: 100%;
}
.price-category_edit .table td:first-child {
  text-align: right;
}
.price-category_edit .table td:last-child input {
  width: 870px;
}

.txt--blue {
  color: #FF7715;
}

/* JS制御 */
.is-active {
  display: block;
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background: #DDD;
}
/*# sourceMappingURL=styles.css.map */